# This file lists all the dependencies that are required to run INF639 labs

# To have more information about the format of this file, please refer to the
# https://pip.pypa.io/en/stable/reference/requirements-file-format/


# PyTorch #####################################################################

# Depending on your system, you may need to install PyTorch with a specific version
# and with the appropriate CUDA version. Please refer to the official PyTorch
# installation guide for more information: https://pytorch.org/get-started/locally/

# torch
# torch --index-url https://download.pytorch.org/whl/cu124    # Linux CUDA 12.4 version
# torch --index-url https://download.pytorch.org/whl/cpu      # Linux CPU version


# GYMNASIUM ###################################################################

# Install Gymnasium with all the environments

gymnasium[accept-rom-license,atari]~=0.29.1

# Alternatively, you can install Gymnasium with specific environments only

# gymnasium[accept-rom-license,atari]~=0.29.1   # ATARI environments only
# gymnasium[box2d]~=0.29.1                      # Box2D environments only
# gymnasium[classic-control]~=0.29.1            # Classic control environments only
# gymnasium[mujoco]~=0.29.1                     # MuJoCo environments only


# STABLE BASELINES ############################################################

# https://stable-baselines3.readthedocs.io/en/master/
# https://github.com/DLR-RM/stable-baselines3

# opencv-python             # Required by some gymnasium wrappers (for other versions, see https://opencv.org/get-started/)
# opencv-python-headless      # https://github.com/DLR-RM/stable-baselines3/issues/298
stable-baselines3~=2.3.2


# REQUIRED DEPENDENCIES #######################################################

# imageio           # required to visualize environments as GIF images within the notebook
# ipywidgets        # required for tqdm
# jupyterlab
# matplotlib
# numpy
# pandas
pettingzoo        # For lab3 on MCTS
# pygame          # required for the "cartpole" Gym environment but already installed with Gymnasium
pyvirtualdisplay  # required for rendering in a headless environment
# scipy
# seaborn
# tqdm


# OPTIONAL DEPENDENCIES #######################################################

aim
# moviepy      # Required by the "gym.wrappers.RecordVideo" wrapper
optuna
# tensorboard
wandb


# USEFUL TOOLS ################################################################

# jupytext          # For Jupyter Notebook to Python script conversion
# mypy              # For static type checking
# ruff              # For code formatting and linting
# scikit-learn      # To load some datasets
# torchaudio
# torchvision
